body {
  font-family:'Sansita Swashed', cursive;
}


.forecast {
  margin: 12px;
}

.jumbotron {
  color: whitesmoke;
  background-image: url('https://t3.ftcdn.net/jpg/02/11/52/42/360_F_211524227_Ett8aboQvVnROAFtqu3S1pW99Y3Th9vm.jpg');
  background-size: cover;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-style: italic;
  

}


#city-date-icon,
#city-name,
#current-icon {
    display: flex;
}

h6 {
  font-variant: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}

h4 {
    margin: 20px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center/space-between;
}

